* {
  margin: 0;
  padding: 0;
  font-family: "Courgette", cursive;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/assets/porirua-branch.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: "Courgette", cursive;
  font-size: 30px;
}

.navbar {
  display: flex;
  padding: 1% 3%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(4, 9, 30, 0.7);
}

.navlinks{
  flex: 1;
  text-align: right;
}

.navlinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navlinks ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navlinks ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #24418f;
  display: block;
  margin: auto;
  transition: 0.2s;
}

.navlinks ul li:hover::after {
  width: 100%;
}

.navlinks .icon{
  margin-right: 8px;
}

.main-bod{
  min-height: 50vh;
  text-align: center;
  padding: 30px 0;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-family: "Courgette", cursive;
  font-size: 30px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #000;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #24418f;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #24418f;
  background: #24418f;
  transition: 1s;
}

/* Menu Section */
.menu {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.menu-col {
  flex-basis: 31%;
  background: #afe3fa85;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.menu-col h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.menu-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.menu-btn {
  border: 1px solid #24418f;
  background: transparent;
  color: #24418f;
}

.menu-btn:hover {
  color: #fff;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Location */
.location {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.location-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.location-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: #4a9dc385;
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

.layer p {
  color: #fff;
}

/* Call to Action */
.cta {
  width: 100%;
  margin: 100px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(assets/porirua-branch.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}

/* Comment Box */
.comment {
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}

.comment-box h3 {
  text-align: left;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.comment-form button {
  margin: 10px 0px;
}

/* Icons */
.icons .fa {
  color: #24418f;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

/* about us page */
.ab-us-sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/assets/sushi.jpeg);
  /* background-position: center; */
  background-size: cover;
  text-align: center;
  color: #fff;
}

.sub-header h1 {
  margin-top: 100px;
}

.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}

.blue-btn {
  border: 1px solid #24418f;
  background: transparent;
  color: #24418f;
}

.blue-btn:hover {
  color: #fff;
}

/* Catering page */
.catering-page {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.cater-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.cater-col img {
  width: 100%;
}

.cater-col h1 {
  padding-top: 0;
}

.cater-col p {
  padding: 15px 0 25px;
  font-size: 20px;
}

/* Contact Us page */

.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-us div .fa {
  font-size: 28px;
  color: #24418f;
  margin: 10px;
  margin-right: 30px;
}

.contact-us div .fa-home {
  margin: 0 px;
}

.contact-us div p {
  padding: 0;
}

.contact-us div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  columns: #555;
  font-weight: 400;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Menu Page */
.menu-sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(assets/donburi-porirua.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.menu-page .menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.menu-page h1 {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 600;
}

.menu-page .item {
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.4rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  margin: 1rem 1rem;
  text-align: center;
}

.item img {
  width: 100%;
  /* height: 275px; */
  display: inline-block;
  position: relative;
  margin: center;
}

.item h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 10px 0;
}

.item span {
  font-weight: 300;
  font-size: 1rem;
  margin: 10px 0;
}

.heading {
  text-align: center;
  color: #000;
  font-size: 3rem;
  padding-bottom: 2 rem;
}


/* Footer */
.footer {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.footer-login{
  color: #24418f;
  text-decoration: none;
  font-size: 0.5rem;
  padding: 10px;
}

.footer h4 {
  margin-bottom: 15px;
  margin-top: 3px;
  font-weight: 600;
}