<body>
    <div>
        <h2>Menu</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quas modi voluptas optio sint recusandae, labore illum fugiat sequi veritatis alias dolor esse, nam animi reiciendis eaque sunt distinctio quae!</p>
    </div>
</body>
<style>
    h1{
        text-align: center;
        margin-top: 50px;
    }
</style>