<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>O-Sushi</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }

      .navbar {
        height: 5vh;
        background-color: lightblue;
        overflow: hidden;
        display:flex;
        flex-direction: row;
        padding: 10px 20px;
      }

      .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px ;
        text-decoration: none;
        transition: background-color 0.3s;
      }

      .navbar a:hover {
        color: black;
      }

      .footer {
        overflow: hidden;
        height: 20vh;
        background-color: grey;
        display: flex;
        flex-direction: column;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        color: white;
      }
      .footer a {
        padding: 5px;
        color: white;
        text-decoration: none;
      }
      .footer p{
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a href="/"><i class="fas fa-home icon"></i></a>
    </div>
    <div><%- body %></div>
    <div class="footer">
      <p>© 2023 O-Sushi</p>
      <a href="/login"><i class="layout fas fa-sign-in-alt"></i> Admin</a>
      <a href="/contact"><i class="layout fa-solid fa-envelope"></i></a>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem sed
        iusto ducimus quasi placeat? Quis rem voluptates error laboriosam!
        Consectetur harum nulla cum ipsum ratione maxime laboriosam quisquam
        nesciunt officiis?
      </p>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/de95fd432b.js"
    crossorigin="anonymous"
  ></script>
</html>
