<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>O'Sushi</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/de95fd432b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <section class="header">
      <div class="navbar">
        <a class="logo" href="/">O'sushi</a>
        <div class="navlinks">
          <ul>
            <li>
              <a href="/menu"><i class=""></i>menu</a>
            </li>
            <li>
              <a href="/about"><i class=""></i>about</a>
            </li>
            <li>
              <a href="/contact"><i class=""></i>contact</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="text-box">
        <h1>Contact Us</h1>
        <p>Contact us or visit us!</p>
      </div>
    </section>

    <!-- Contact us content -->
    <section class="location">
      <h1>Contact Us</h1>

      <iframe
        src="https://www.google.com/maps/d/u/0/embed?mid=1qmNjPEd4shM2dMSAwmU4o_ys8NmHM-Q&ehbc=2E312F"
        width="640"
        height="480"
      ></iframe>
    </section>

    <section class="contact-us">
      <div class="row">
        <div class="contact-col">
          <div>
            <i class="fa fa-home"></i>
            <span>
              <h5>Moore Wilson's, 93 Tory Street</h5>
              <p>Te aro, Wellington, NZ</p>
            </span>
          </div>

          <div>
            <i class="fa fa-home"></i>
            <span>
              <h5>Moore Wilson's, 65/69 kenepuru Drive</h5>
              <p>Kenepuru, Porirua, NZ</p>
            </span>
          </div>

          <div>
            <i class="fa fa-phone"></i>
            <span>
              <h5>+64 21 027 12579</h5>
              <p>Monday to Friday</p>
            </span>
          </div>

          <div>
            <i class="fa fa-envelope-o"></i>
            <span>
              <h5>info@osushi.com</h5>
              <p>Email us your query</p>
            </span>
          </div>
        </div>

        <div class="contact-col">
          <form method="POST" action="/contact" id="contact-form">
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Enter your name"
              required
            />
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter email address"
              required
            />
            <input
              type="text"
              name="subject"
              id="subject"
              placeholder="Enter your subject"
              required
            />
            <textarea
              rows="8"
              name="message"
              id="message"
              placeholder="message"
            ></textarea>
            <!-- <button type="submit" class="hero-btn blue-btn" value="send"> -->
            <button type="submit" class="hero-btn blue-btn">
              Send Message
            </button>
          </form>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <section class="footer">
      <h4>About Us</h4>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque eum
        aperiam accusamus. Consequatur dolorem sed optio laudantium asperiores
        assumenda incidunt, autem quidem rem doloribus enim tenetur?
        Necessitatibus quam reprehenderit voluptatibus.
      </p>
      <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
      </div>
    </section>

    <!-- JavaScript for Toggle Menu -->
    <script>
      var navLinks = document.getElementById("navLinks");
      function showMenu() {
        navLinks.style.right = "0";
      }

      function hideMenu() {
        navLinks.style.right = "-200px";
      }
    </script>
  </body>
</html>
