<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>O'Sushi</title>
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/de95fd432b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style>
      * {
        font-family: "Courgette", cursive;
        font-family: "Poppins", sans-serif;
      }

      .header {
        min-height: auto;
        width: 100%;
        background-image: linear-gradient(
            rgba(4, 9, 30, 0.7),
            rgba(4, 9, 30, 0.7)
          ),
          url(assets/porirua-branch.jpeg);
        background-position: center;
        background-size: cover;
        position: relative;
      }

      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }

      h2 {
        text-align: center;
        margin-top: 50px;
      }

      p {
        text-align: center;
        font-size: 18px;
      }

      a {
        text-decoration: none;
      }

      .logo {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-family: "Courgette", cursive;
        font-size: 30px;
      }

      .navbar {
        display: flex;
        padding: 0.5% 3%;
        justify-content: space-between;
        align-items: center;
      }

      .navlinks {
        flex: 1;
        text-align: right;
      }

      .navlinks ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
      }

      .navlinks ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
      }

      .navlinks ul li::after {
        content: "";
        width: 0%;
        height: 2px;
        background: #24418f;
        display: block;
        margin: auto;
        transition: 0.2s;
      }

      .navlinks ul li:hover::after {
        width: 100%;
      }

      .navlinks .icon {
        margin-right: 8px;
      }

      .main-bod{
        text-align: center;
        margin-top: 50px;
        min-height: 50vh;
      }

      .card {
        background-color: white;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      #news li {
        margin-bottom: 10px;
      }

      .section-title {
        font-size: 24px;
        margin-bottom: 20px;
      }

      .footer {
        position: relative;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        text-align: center;
        padding: 20px 0;
      }

      .footer h4 {
        margin-bottom: 15px;
        margin-top: 5px;
        font-weight: 600;
      }
    </style>
  </head>

  <body>
    <section class="header">
      <div class="navbar">
        <a class="logo" href="index.html">O'sushi</a>
        <div class="navlinks">
          <ul>
            <li>
              <a href="/home"><i class="fas fa-home icon"></i>Home</a>
            </li>
            <li>
              <a href="/menu"><i class=""></i>Menu</a>
            </li>
            <li>
              <a href="/about"><i class=""></i>about</a>
            </li>
            <li>
              <a href="/contact"><i class=""></i>contact</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    <section class="main-bod">
        <h2>Welcome to our Page!</h2>
        <p>Enjoy browsing our website!</p>
    </section>
   

    <section class="footer">
      <h4>About Us</h4>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque eum
        aperiam accusamus. Consequatur dolorem sed optio laudantium asperiores
        assumenda incidunt, autem quidem rem doloribus enim tenetur?
        Necessitatibus quam reprehenderit voluptatibus.
      </p>
      <p>© 2021 O'Sushi</p>
      <a href="/login"><i class="fas fa-sign-in-alt icon"></i>Admin Login</a>
      <div class="icons">
        <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
      </div>
    </section>
  </body>
</html>
